@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css);

@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@500&family=Lato&family=Love+Ya+Like+A+Sister&family=Maven+Pro:wght@400;600&family=Montserrat&family=Oswald&family=Roboto+Mono:wght@100;200&display=swap');

body {
    width:100vw;
    height:100vh;
    background: 
    linear-gradient(rgba(0, 0, 0, 0.7), 
    rgba(0, 0, 0, 0.7)),
    url("image/index.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: darkred;
    font-family: 'Roboto Mono', monospace;
}

button {
    font-family: 'Maven Pro', sans-serif;
    font-size: 2rem;
    margin: 20px;
}

button:hover {
    background-color:darkred;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

#reset {
    font-size: 1.5rem;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    opacity: 0.5;
    padding: 15px;   
}

#kontostand {
    font-weight: bold;
    font-size: 3rem;
    margin:10px;
    padding: 0;
}

.lightning div{
    display: inline-block;   
}

.c p {
    animation: color-change 2s infinite;
}

.a1 p{
    animation: color-change 2s infinite;
    animation-delay: 0.15s;
}

.s p{
    animation: color-change  2s infinite;
    animation-delay: 0.3s;
}

.i p{
    animation: color-change 2s infinite;
    animation-delay: 0.45s;
}

.n p{
    animation: color-change 2s infinite;
    animation-delay: 0.6s;
}

.o1 p{
    animation: color-change 2s infinite;
    animation-delay: 0.75s;
}

.r p{
    animation: color-change 2s infinite;
    animation-delay: 0.9s;
}

.o2 p{
    animation: color-change 2s infinite;
    animation-delay: 1.05s;
}
.y p{
    animation: color-change 2s infinite;
    animation-delay: 1.2s;
}

.a2 p{
    animation: color-change 2s infinite;
    animation-delay: 1.35s;
}

.l p{
    animation: color-change 2s infinite;
    animation-delay: 1.45s;
}

.e p{
    animation: color-change 2s infinite;
    animation-delay: 1.4s;
}

@keyframes color-change {
    0% { color: #b90000;
        text-shadow: #ff6c00 0 0 10px; }
    25% { color: #484848;
        text-shadow: none; 
     }
  }

.lightning p {
    color: #484848;
    font-size: 3rem;
    font-family: Lato;
    padding: 10px;
    font-weight: bold;
    font-family: 'Maven Pro', sans-serif;
}

.fa-solid {
    --fa-animation-duration: 2s;
    padding:20px;
}

#welcome {
    font-size: 1rem;
    padding: 0;
    margin:0;
    font-weight: bold;
}

strong {
    font-size: larger;
    color:#fd0000;
}

@media screen and (max-width: 768px) {
    .lightning p {
        color: #484848;
        font-size: 1.7rem;
        font-family: Lato;
        padding: 0px;
        font-weight: bold;
        font-family: 'Maven Pro', sans-serif;
    };

    #kontostand{
        font-size: 1.5rem;
    }

    button {
        font-family: 'Montserrat', sans-serif; 
        margin:0%;
        padding: 0%;
    }

    #welcome {
        text-align: center;
        font-weight: bold;
        font-family: 'Montserrat', sans-serif;
    }

    #wetten {
        font-size: 1.7rem;
        margin-bottom: 10px;
        padding: 5px;
    }

    button:hover {
        font-size: 2rem;
        margin-bottom: 10px;
        padding: 5px;
    }

    .fa-solid {
        --fa-animation-duration: 2s;
        padding:10px;
    }
}   